body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0px;
    padding: 0px;
}

.container {
    width: 900px;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.hero {
    background: #1f2937;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    color: #e5e7eb;
    font-size: 18px;
}

.header {
    display: flex;
    flex-direction: row;
    /* color: aqua; */
    justify-content: space-between;
    align-items: center;
}

.header>.left {
    color: #f9faf8;
    font-size: 24px;
}

.header>.right>ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* color: #e5e7eb; */
    /* font-size: 18px; */
}

.hero-content {
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 80px 0px;
}

.hero-content>.left>h1 {
    color: #f9faf8;
    font-size: 48px;
    margin: 0px;
    margin-bottom: -10px;
}

.hero-content>.right>img {
    max-height: 270px;
}

ul {
    list-style: none;
}

button {
    background-color: #3882f6;
    border-radius: 8px;
    border: none;
    padding: 8px 28px;
    color: white;
    font-weight: 600;
    font-size: 18px;
}

.card-section {
    display: flex;
    flex-direction: column;
    color: #1f2937;
    padding: 50px 0px;
}

.card-section>.container {
    gap: 30px;
    max-width: 720px;
}

.card-section>.container>h2 {
    align-self: center;
    font-size: 36px;
    font-weight: 900;
    margin: 0px;
}

.card-set {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cards>img {
    width: 140px;
    height: 140px;
    border-width: 4px;
    border-color: #3882f6;
    border-style: solid;
    border-radius: 8px;
}

.quote-section {
    background: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 50px 0px;
}

.quote-section>.container {
    max-width: 720px;
}

p {
    padding: 0px;
    margin: 20px 0px;
}

p.quote {
    color: #1f2937;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

p.by {
    text-align: right;
    font-weight: 600;
    font-size: 20px;
    margin-top: 0px;
}

.cta {
    display: flex;
    flex-direction: column;
    margin: 40px 0px;
}

.blue-card {
    background: #3882f6;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px;
    color: white;
}

.blue-card>.right>button {
    border-color: white;
    border-width: 2px;
    border-style: solid;
}

.blue-card>.left>h3 {
    padding: 0px;
    margin: 0px;
}

.blue-card>.left>p {
    margin: 0px;
    padding: 0px;
}

.footer {
    background: #1f2937;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    text-align: center;
}